#start-quiz-button,
#next-question-button,
#end-quiz-button,
#back-button {
    display: none;
    margin: auto;
}

.quiz {
    display: none;
}

.quiz-main {
    display: none;
}

.quiz-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 10px;
    border-bottom: solid rgba(83, 157, 255, 0.507) 1px;
}

.quiz-nav > p:nth-child(2) {
    text-align: center;
}

.quiz-nav > p:nth-child(3) {
    text-align: end;
}

.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.answers > p {
    background-color: whitesmoke;
    cursor: pointer;
    height: 40px;
    text-align: center;
}
