#start-quiz-button,
#next-question-button,
#end-quiz-button,
#back-button {
    display: none;
    margin: auto;
}

.quiz {
    display: none;
}

.quiz-main {
    display: none;
    padding-inline: 10px;
    margin-top: 10px;
}

.quiz-nav {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 10px 10px 10px;
    border-bottom: solid rgba(83, 157, 255, 0.507) 1px;
}

.quiz-nav > p:nth-child(2) {
    text-align: center;
}

.quiz-nav > p:nth-child(3) {
    text-align: end;
}

.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px 0px;
}

.answers > p {
    border: solid rgb(150, 150, 150) 4px;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    transition: border-color 0.5s;
}

.answers > p:hover {
    cursor: pointer;
    border-color: rgb(51, 89, 255);
}

.feedback-message {
    text-align: center;
    margin-bottom: 10px;
    padding-inline: 10px;
}
