#start-quiz-button,
#next-question-button,
#end-quiz-button,
#back-button {
    display: none;
    margin: auto;
}

.quiz {
    display: none;
}

.quiz-main {
    display: none;
}

.quiz-nav {
    display: flex;
    justify-content: space-between;
}

.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.answers > p {
    background-color: whitesmoke;
    cursor: pointer;
    height: 40px;
    text-align: center;
}
