.quiz-results h2 {
    text-align: center;
    margin-top: 100px;
    color: white;
}

.results-list > p {
    background-color: rgb(211, 211, 211);
    margin-inline: 10%;
    box-shadow: 10px 10px 10px rgb(22, 22, 22);
}

.results-list > p:hover {
    background-color: rgb(211, 211, 211);
    margin-inline: 10%;
    box-shadow: 10px 10px 10px rgb(22, 22, 22);
    transform: scale(1.1);
}
